# https://www.jetify.com/docs/devbox/devbox_examples/servers/caddy/
admin.my.localhost {
	reverse_proxy :3001
}

api.my.localhost {
	reverse_proxy :5001
}

blog.my.localhost {
	reverse_proxy :5173
}

storefront.my.localhost {
	reverse_proxy :3002
}
